* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  font-family: "Quicksand", sans-serif;
}

html {
  font: normal 18px sans-serif;
}

nav {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  opacity: 0.9;
  transition: 200ms ease-in;
}
a:hover {
  opacity: 1;
  font-weight: 900;
  text-decoration: none;
  color: #ff6b6b;
  cursor: pointer;
}

header {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 100px 0;
  animation: 1s fadein 0.5s forwards;
  z-index: 10;
  color: black;
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
}
@media (max-width: 1000px) {
  header {
    padding: 20px 50px;
  }
}

@media (max-width: 700px) {
  header h2 {
    margin-bottom: 15px;
  }
}

header nav {
  display: flex;
}

header nav li {
  margin: 0 15px;
}

.post-container {
  width: 100%;
}

@media (min-width: 800px) {
  .post-container {
    width: 100%;
    padding: 10px 10px;
    align-items: center;
  }
}

.post {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post-content {
  width: 80%;
  padding: 10px;
  margin: auto;
}

@media (min-width: 800px) {
  .post-content {
    width: 70%;
    padding: 10px;
    margin: auto;
  }
}

.post-content header {
  display: block;
  padding: 0;
  align-items: center;
}

.back {
  margin-bottom: 10px;
  font-size: 18px;
}

.back a {
  text-decoration: none;
}

.fa {
  display: inline-block;
  font-size: inherit;
}

figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
}

.post-image img {
  width: 80%;
  height: 80%;
  display: block;
  margin: 0 auto;
}

@media (min-width: 1000px) {
  .post-image img {
    width: 50vh;
    height: 65vh;
  }
}

article h1 {
  font-size: 30px;
  margin: 20px 0;
  font-weight: bold;
  position: flex;
}

article p {
  font-weight: 300;
  margin: 10px 0;
}

hr {
  width: 200px;
  height: 2px;
  border: 0;
  margin-bottom: 80px;
  background-color: black;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 80px;
}

.contact {
  background-color: inherit;
}

.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  width: 80%;
}

.contact form input {
  padding: 15px;
  flex: 1;
  margin-right: 30px;
  font-size: 18px;
  color: #555;
}
@media (max-width: 800px) {
  .contact form input {
    flex-basis: 100%;
    margin: 0 0 20px 0;
  }
}

.contact form .btn {
  padding: 18px 42px;
  background-color: #ff6b6b;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: black;
  background-color: #cce3de;
  padding: 60px 0;
}
@media (max-width: 700px) {
  footer {
    padding: 80px 15px;
  }
}

footer ul {
  display: flex;
  margin-bottom: 25px;
  font-size: 32px;
  list-style: none;
}

footer ul li {
  margin: 0 15px;
}

footer p {
  font-size: 14px;
  color: black;
  margin-bottom: 10px;
}
