@import url("header.css");
@import url("hero.css");
@import url("contact.css");
@import url("footer.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: block;
  font-family: "Quicksand", sans-serif;
}

html {
  font: normal 18px sans-serif;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 80px;
}
@media (max-width: 800px) {
  section {
    padding: 40px 40px;
  }
}

section h5.title {
  color: #414a4f;
  text-transform: capitalize;
  margin-bottom: 35px;
}

section p {
  max-width: 800px;
  text-align: center;
  margin-bottom: 35px;
  padding: 0 20px;
  line-height: 2;
}

.blog {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f7f7f7;
}

@media (max-width: 800px) {
  .blog {
    padding: 0.5em 0.5em;
    flex-direction: column;
    min-width: 100vh;
  }
}

.title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: black;
  padding: 0.8rem;
  font-size: 14px;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.btn:hover {
  background-color: #ff6b6b;
}

.btn a:hover {
  color: inherit;
  transition: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
}

.car .card_title h3 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
  margin: 0px;
  text-align: left;
  margin-bottom: 5px;
}

.card_text {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
  text-align: left;
}
